.pageHeader {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 10px;
}

.shop {
    width: 30%;
    align-content: space-around;
    margin: 0 10px;
}
